server:
  port: ${PORT:8080}

spring:
  application:
    name: entrophy-back

  datasource:
    url: ${DB_URL}
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

azure:
  storage:
    connection-string: ${AZURE_STORAGE_CONNECTION_STRING}
    image-container: lesson-images
    video-container: lesson-videos

logging:
  level:
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG
    org.springframework.web: INFO
    org.springframework.web.servlet.DispatcherServlet: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: INFO
